//colors
$blue: #62A1EB;
$blue-med: #317AD0;
$blue-dark: #1A5DAB;
$blue-light:#EAFAFF;

$blue-300: #AED1EA;
$blue-400: #8AC0E2;
$blue-600: #4D9AC3;
$blue-700: #4386A9;

$blue-back: #2B4BF2;
$blue-border-dark:#6499FF;

$white: #ffffff;
$white-back: #f6f6f6;

$gray-arrow-back: #D9D9D9;
$gray-light: #EBEBEB;

$black-300:#A5A5A5;
$black-400:#797979;
$black-500:#2E2E2E;

$error:  #E52F2F;
//sizes
$input-height: 50px;
$def-time:0.3s;

//fonts
$main : "HelveticaNeue", sans-serif;
$bold: "HelveticaNeue-Bold", sans-serif;
$light: "HelveticaNeue-Light", sans-serif;