@use "../helpers/index" as ind;
.gray{
  background-color: ind.$white-back;
}
.container{
  width: 63%;
  max-width: 1225px ;
  margin: 0 auto;
  @include ind.mq(tablet-medium){
  width: 95%;
  }
}
.container-m{
  width: 61%;
  max-width: 1180px ;
  margin: 0 auto;

  @include ind.mq(tablet-medium){
    width: 90%;
    max-width: unset;
  }
}
.container-s{
  width: 40%;
  max-width: 781px ;
  margin: 0 auto;
  @include ind.mq(tablet-medium){
    width: 90%;
    max-width: unset;
  }
}
.main-footer{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 45px;
  img{
    width: 85px;
  }
}
.page-main{
  .svg-container{
    position: relative;
    width: 100%;
    padding-bottom: 100px;
    img{
      width: 100%;
    }
    &.mobile{
      display: none;
    }
    @include ind.mq(tablet-medium){

      &.desktop{
        display: none;
      }
      &.mobile{
        display: block;
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}
.buttons-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.button{
  padding: 0 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: ind.$blue;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  min-width: 60%;

  font-family: ind.$main;
  font-size: 20px;
  font-variant-caps: all-small-caps;
  text-transform: uppercase;
  color: ind.$white;


  @include ind.mq(tablet-medium){

    min-width: 100%;
  }

  &:hover{
    background-color: ind.$blue-med;
  }
  &:focus{
    background-color: ind.$blue-dark;
  }
}