@use "../helpers/index" as ind;
.form-container{
  width: 100%;
  padding: 80px 120px;
  border-radius: 18px;
  background-color: ind.$white;
}
.form-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &>div{
    flex: 0 0 calc(50% - 20px);
  }
  &.trio{
    &>div{
      flex: 0 0 calc(33% - 10px);
    }
  }
}
.input-wrapper{
  position: relative;
  background: ind.$white;
  margin: 30px 0;
  .label{
    color: black;
    font-family: ind.$bold;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 8px;
    display: block;
  }
  .input-field{
    height: ind.$input-height;
    width:100%;
    margin: 0;
    color: rgba(black,0.6);
    border: 1px solid ind.$blue-400;
    background-color: transparent;
    padding-left: 20px;
    position: relative;
    border-radius: 8px;
    font-size: 16px;
    color: black;
    &:focus {
      outline: 0;
      box-shadow:none;


      color: black;
      border: 1px solid ind.$blue-border-dark;
      background-color: rgba(ind.$blue-back, 0.06);
    }
    &::placeholder {
      color: rgba(black, 0.6);
      font-size: 16px;
      transition: ind.$def-time;
    }
    &:not(:focus):not(:placeholder-shown):invalid{
      border-color: rgba(#ff4757, .3);
    }

  }
  .hint{
    font-family: ind.$light;
    font-size: 14px;
    color: ind.$black-500;
    line-height: 21px;
    display: block;
    padding-top: 5px;
  }


  &.invalid{
    .label,
    .hint{
      color: ind.$error;
    }
    .input-field{
      border-color: ind.$error;
    }
  }
}
.form-button{
  min-width: unset;
  margin-left: auto;
  font-variant-caps: unset;
}
.select-container{
  margin: 30px 0;
  border-radius: 8px;
  select {
    height: ind.$input-height;
    width: 100%;
    margin: 0;
    color: black;
    font-family: ind.$main;
    font-size: 18px;
    background-color: ind.$gray-light;
    padding:0 20px;
    position: relative;
    border-radius: 8px;

    option {
      margin: 10px 0;
      background-color: white;
      font-family: ind.$main;
      &:hover{
        background-color: red;

      }
    }
  }

  &.invalid{
    border: 1px solid ind.$error;
  }
}
.disabled{
  pointer-events: none;
  opacity: 0.7;
}
.removeOption{
  display: none;
}
.first-page ,
.second-page{
  display: none;
  &.active{
    display: block;
  }
}

.radio-container{
  .label{
    display: block;
    font-family: ind.$bold;
    font-size: 18px;
    padding-bottom: 8px;
  }
  .radio-control{
    font-family: ind.$main;
    font-size: 16px;
    display: inline-grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    cursor: pointer;
    //&:focus-within {
    //  color: red;
    //}
    &:nth-child(2){
      margin-right: 30px;
    }
  }
  .radio{
    cursor: pointer;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: blue;
    width: 16px;
    height: 16px;
    border: 1px solid ind.$blue-600;
    border-radius: 50%;
    transform: translateY(4px);

    display: grid;
    place-content: center;
    &:before{
      content: "";
      cursor: pointer;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em ind.$blue-600;
    }
    &:checked::before {
      transform: scale(1);
    }
  }
}
.form-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 40px;
  .back{
    color: ind.$blue;
    font-family: ind.$main;
    font-size: 18px;
    letter-spacing: 1px;
  }
}
.line{
  height: 1px;
  width: 100%;
  background-color: #C7C7C7;
  margin: 30px 0;
}
.image-drop-container{
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  border: 2px dashed ind.$blue-700;
  background-color: #F7F7F7;

  position: relative;
  img{
    display: none;
  }
 &.dropped img{
   display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  span{
    color: ind.$blue-700;
    font-size: 20px;
    font-family: ind.$main;
    display: block;
    margin-bottom: 40px;
  }
  .button{
    width: 100px;
    min-width: unset;
    cursor: pointer;
  }
  #drop-zone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}